.basket-table {
  width: 100%;
}

td > .amount {
  width: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-top: auto;
}

td > .amount > .amountInp {
  width: 57px;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  outline: none;
  border: none;
  color: #1F2535;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

td > .amount > .up,
td > .amount > .down {
  width: 32px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.table td,
.table th {
  vertical-align: middle;
}

table.table > thead > tr > th {
  color: #9E9999;
  font-family: "Roboto";
  font-weight: 100 !important;
  font-size: 15px;
  white-space: nowrap;
}

.colorblack {
  color: #000000;
  font-weight: 400;
}

.colorblack > a {
  color: #000000;
  font-weight: 400;
}

tbody > tr > th {
  color: #000000;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
}

.gray {
  color: #646464;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 21px;
}

.table td,
.table th {
  padding: 12px;
  border-bottom: 1px solid #E6E6E6;
}

.table td,
.table th {
  border-top: 0 !important;
}

.mytable > tbody > tr > td,
.mytable > tbody > tr > th {
  padding: 0 12px;
}

.mytable > tfoot > tr > td,
.mytable > tfoot > tr > th {
  padding: 0 12px;
}

.mytable > thead > tr > td,
.mytable > thead > tr > th {
  padding: 0 12px;
}

.order-info {
  width: 400px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  position: relative;
  margin-bottom: 20px;
}

.order-info::before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  width: 174px;
  height: 1px;
  background-color: #D7D7D7;
}

.order-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;
}

.text {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 400;
  color: #000000;
}

.text-bold {
  font-size: 16px;
  font-family: "Roboto-Condensed";
  font-weight: 700;
  color: #201A24;
  letter-spacing: 2px;
}

.total__price {
  font-size: 22px;
}

.order-btn {
  border: none;
  border-radius: 4px;
  background-color: #2796FF;
  color: #FFFFFF;
  font-size: 17px;
  font-family: "Roboto";
  font-weight: 400;
  padding: 6px 8px;
  box-sizing: border-box;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 14px;
  margin-left: auto;
}

td:nth-child(6n) {
  border-bottom: 1px #fff;
}

@media (max-width: 575px) {
  .order-info {
    width: 290px;
  }

  .text {
    font-size: 15px;
  }

  .basket__price,
  .discount__price {
    font-size: 17px;
  }

  .total__price {
    font-size: 21px;
  }
}

