@import '~@fancyapps/fancybox/dist/jquery.fancybox.css';

.pictures__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.picture {
    width: 66%;
}

.gallery {
    width: 34%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    row-gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-left: 8px;
}

.picture img {
    width: 100%;
    height: 100%;
}

.photo {
    width: 31%;
    margin-bottom: 6px;
    margin-left: 6px;
    box-sizing: border-box;
}

.title a {
    font-size: 34px;
    color: #000000;
    font-family: 'Roboto-Condensed';
    font-weight: 700;
    overflow: hidden;

    &:hover {
        color: #000000;
        text-decoration: none;
    }
}

.title-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 48px;
}

.date {
    padding: 0;
    margin: 0;
    margin-left: 20px;

    a {
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: #000000;
        font-family: 'Roboto-Condensed';
        font-weight: 700;
        font-style: normal;
        text-transform: none;
        border-bottom: 2px solid #000;

        &:hover {
            color: #000000;
            text-decoration: none;
        }
    }
}

.views__box {
    border-radius: 50px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    padding: 5px 10px;
    margin-left: 28px;
    font-weight: 700;
    font-family: 'Roboto-Condensed';
    color: #000;
}

.views__count {
    margin-left: 15px !important;
}

.text__information {
    margin-top: 30px;
}

.text__p {
    font-size: 16px;
    color: #52555E;
    font-family: 'Roboto';
    font-weight: 400;
    margin-bottom: 40px;
}

.detail {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.views__icon {
    font-size: 14px;
}

@media (max-width: 1439px) {
    .title a {
        font-size: 28px;
    }

    .date a {
        font-size: 18px;
    }

    .title-block {
        margin-top: 20px;
    }

    .pictures__block {
        margin-top: 10px;
    }

    .text__p {
        font-size: 15px;
    }

    .views__box {
        padding: 4px 8px;
        font-size: 15px;
    }
}

@media (max-width: 1199px) {
    .title a {
        font-size: 20px;
    }

    .date a {
        font-size: 16px;
    }

    .text__p {
        font-size: 14px;
    }

    .views__box {
        padding: 3px 6px;
        font-size: 14px;
    }

    .views__count {
        margin-left: 10px !important;
    }
}

@media (max-width: 991px) {
    .pictures__block {
        flex-direction: column;
    }

    .picture {
        width: 100%;
    }

    .photo {
        width: 25%;
    }

    .gallery {
        width: 100%;
        justify-content: flex-start;
        margin-top: 18px;
        padding-left: 0;
    }

    .photo {
        img {
            width: 100% !important;
            height: auto !important;
        }

        width: 23.9%;
        margin: 0;
        margin-right: 1.4%;
        margin-bottom: 1%;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .gallery {
        height: max-content !important;
    }
}

@media (max-width: 604px) {
    .photo {
        width: 31.2%;
        margin-right: 1.9%;
        margin-bottom: 2%;

        &:nth-child(4n) {
            margin-right: 1.9%;
        }

        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}

@media (max-width: 575px) {
    .title a {
        font-size: 16px;
    }

    .views__count {
        margin-left: 10px;
        margin-left: 10px;
        font-size: 16px;
    }
}

@media (max-width: 410px) {
    .title-block {
        flex-direction: column;
        align-items: unset;
    }

    .date {
        margin: 0;
    }
}
